//colores
$maincolor:rgb(218, 22, 22);
$keycolor:gold;
$textcolor:black;
$labelcolor:white;


//fonts
$mainfont:"roboto",sans-serif;
$font-table:2vw;
$font-fig:3vw;


//sizing
$textsm:0.8em;
$textsmd:1em;
$textlg:2em;
$textxl:3em;


//fontweight 
$fontlight:100;
$fontboldt:600;
$fontregular:400;

//img



p{
    font-family: $mainfont;
}
 